html {
    height: 100%;
}

body {
    min-height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}

body::after {
    content: '';
    display: block;
    height: 100px;
}

/* body {
    background-image: url(https://www.wallpaperflare.com/static/589/373/209/the-witcher-3-wild-hunt-video-games-geralt-of-rivia-landscape-wallpaper.jpg);*/
    /*background-attachment: fixed;*/
    /*background-position: center;*/
    /*background-size: cover;
} */

header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #131c27;
    border-bottom: 3px solid black;

}

footer {
    width: 100%;
    bottom: 0;
    position: absolute;
}

nav {
    max-width: 80rem;
    margin: 0 auto;
}

nav {
    max-width: 80rem;
    margin: 0 auto;
    white-space: nowrap;
}

nav input.search {
    border-radius: 10px 0px 0px 10px;
    margin-right: 0px !important;
    border-right: none;
}

nav button.search {
    border-radius: 0px 10px 10px 0px;
    height: 38px;
    border-width: 2px;
}

.form-inline {
    display: block !important;
    width: 55% !important;
    max-width: 400px;
}

.navbar-nav {
    margin-left: 10px;
}

.fix-margin-left {
    margin-left: 10px;
}

.kaartbreedte {
    min-width: 210px!important;
    margin: 0 auto;
    margin-bottom: 15px!important;
}
.product-img-size{
    width: 457px;
    height: 630px;
}
@media (max-width: 580px){
    .kaartbreedte {
        width: 100%!important;
    }
}

.kaarttitel {
    font-size: 1rem;

}

.kaartfooter {
    border-top: none;
    background-color: #fff;
    padding-top: 0;
}

.kaartimg {
    object-fit: cover!important;
    max-height: 200px;
}

.kaartdeck {
    flex-flow: wrap-reverse;
}

.voordelen {
    justify-content: center;
}

.voordelen li {
    border: none;
}
.voordelen i {
    color: #29A945;
}
.productkaartdeck {
    flex-wrap: wrap;
}
.welkom {
    color: rgba(255,255,255,.5);
    font-size: 0.8em;
    text-align: right;
    margin-right: 5px;
}

.wwiblauw {
    color: #00bdf3;
    border-color: #00bdf3;
}

.invoerform {
    width:350px;
    margin: 0 auto;
}

.conversieform label {
    width: 100%;
    display: flex;
}

.conversieform i {
    margin: auto;
    font-size: 30px;
    background-color: #eaeaea;
    border: 1px solid grey;
    border-radius: 3px 0 0 3px;
    padding: 3px;
    hover: initial;
    cursor: text;
    width: 50px;
    text-align: center;
}

.conversieform input {
    border-radius: 0 3px 3px 0;
    background-color: #f5f5f5;
    border: 1px solid grey;
    border-left: none;
}

.conversieform .inputrequirement {
    font-size: 0.8em;
    margin-top: -8px;
    text-align: center;
}

.conversieform .opmerking {
    font-size: 0.8em;
    margin-bottom: 0px;
    text-align: right;
}

.conversieform .formulierknop {
    display: block;
    margin: 0 auto;
    border: 2px solid #00bdf3;
    color: #fff;
    background-color: #00bdf3;
    border-radius: 4px;
    padding: 6px 22px;
    width: 150px;
    text-align: center;
    cursor: pointer;
}

.conversieform .pnormaal,
.pnormaal {
    font-size: 1.2em;
    text-align: center;
}

.codeverificatie{
    display: inline-block;
    padding: .375rem .75rem;
}

.conversieform .pnormaal,
.pnormaal {
    font-size: 1.2em;
    text-align: center;
}

/* Modal product item */
.modal-header,
.modal-footer {
    border: none;
}

.modal-footer {
    display: block;
    text-align: center;
}

.modal-footer a {
    color: #00bdf3!important;
}

.modal-footer a:hover {
    cursor: pointer;
    text-decoration: underline!important;
}

.autobreedte {
    width: auto!important;
}

/* Afrekenpagina */
.besteldproduct {
    display: flex;
}

.productinfo {
    display: flex;
}

.inforechts p,
.inforechts h5 {
    margin: 0 10px;
}

.flex {
    display: flex;
}

.flex table {
    width: 50%;
}

.contentmiddel {
    max-width: 620px;
    margin: 0 auto;
}

.center {
    display: block;
    margin: 0 auto;
}