html {
    height: 100%;
}

body {
    min-height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}

body::after {
    content: '';
    display: block;
    height: 100px;
}

body {
    /*background-image: url(https://www.wallpaperflare.com/static/589/373/209/the-witcher-3-wild-hunt-video-games-geralt-of-rivia-landscape-wallpaper.jpg);*/
    /*background-attachment: fixed;*/
    /*background-position: center;*/
    /*background-size: cover;*/
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #131c27;
    border-bottom: 3px solid black;

}

footer {
    width: 100%;
    bottom: 0;
    position: absolute;
}

nav {
    max-width: 80rem;
    margin: 0 auto;
}

nav {
    max-width: 80rem;
    margin: 0 auto;
    white-space: nowrap;
}

nav input.search {
    border-radius: 10px 0px 0px 10px;
    margin-right: 0px !important;
    border-right: none;
}

nav button.search {
    border-radius: 0px 10px 10px 0px;
    height: 38px;
    border-width: 2px;
}

.form-inline {
    display: block !important;
    width: 55% !important;
    max-width: 400px;
}

.navbar-nav {
    margin-left: 10px;
}

.fix-margin-left {
    margin-left: 10px;
}

.rand_products {
    width: 300px;
    height: 555px;
}

